
.header {
  background: #ffffff;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}


.form-container {
  display: flex;
  justify-content: center;
}

.student-form {
  width: 350px;
}


.student-form label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
}

.student-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
}


.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.back-btn,
.create-btn {
  padding: 6px 12px;
  font-size: 12px;
  cursor: pointer;
}
